
<!doctype html>
  <html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}  {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{{ url_for('admin.admin_form')}}"><img src="https://img.freepik.com/free-vector/gradient-family-symbol_23-2149276161.jpg?w=740&t=st=1691066586~exp=1691067186~hmac=8d16b86202031b2d74969ebbf0ded1144a3e97ab083d0cdff5d422d87c40afcd" alt="start" height="100" width="100" class="img-fluid" alt="Sample image"></a>
          </li>
          
  
        </ul>
        <h1 class="text-warning" style="margin-bottom: 10px;"><strong>&ensp;Family&ensp;</strong></h1>
      <h1 class="text-danger" style="margin-bottom: 10px;"><strong>and&ensp;</strong></h1>
      <h1 class="text-primary" style="margin-bottom: 10px;"><strong>Social&ensp;</strong></h1>
      <h1 class="text-success"style="margin-bottom: 10px;"><strong>Welfare&ensp;</strong></h1>
      <h1 class="text-info"style="margin-bottom: 10px;"><strong>Foundation&ensp;</strong></h1>
      </div>
    </div>

      <a class="nav-link" href="{{ url_for('admin.logout')}}"><h5>Logout</h5></a>
  </nav>
  
  
  <body>
    {% block main %}
      
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
  </body>
  
  </html>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>



  